# NoneType

- None is the Nonetype.
- None is used to represent the missing values or null values in Python.

In [36]:
a=None
print(a,type(a))

None <class 'NoneType'>

In [6]:
name="saha"
id=1
dept="cse"
print(name,id,dept)

saha 1 cse

In [1]:
name='Sumit'
age=25
city=None

In [2]:
print(name)
print(age)
print(city)

Sumit
25
None

# Derived Datatypes

- These are container types that are used to contain multiple elements

In [39]:
a=10
a=20
a=0
print(a)

0

In [40]:
print(a)

0

In [41]:
a=6

In [42]:
print(a)

6

In [ ]:
{}=curly 
[]=squre
()=paranthesis

# List

In [43]:
# Anything inside the [] is a list.
# A list is a container type that can contain multiple elements.
# Each element in a list is seperated by a comma (,)
# A list can contain heterogenous (different type) elements
# A list can contain duplicate elements too.

In [44]:
a=[10,20,30,40,50]
print(a,type(a))

[10, 20, 30, 40, 50] <class 'list'>

In [45]:
a=[True, 10, 2.5, 5+5j, 'Python', -20]
print(a,type(a))

[True, 10, 2.5, (5+5j), 'Python', -20] <class 'list'>

In [46]:
a=[1,1,1,12,2,22,2,2,2,5,5,5,5,5,1,2,3,4,4,5,2]
print(a,type(a))

[1, 1, 1, 12, 2, 22, 2, 2, 2, 5, 5, 5, 5, 5, 1, 2, 3, 4, 4, 5, 2] <class 'list'>

# Tuple

In [47]:
# - Anything inside the () is a tuple.
# - A tuple is a container type that can contain multiple elements.
# - Each element inside a tuple is seperated by a comma (,)
# - A tuple can contain heterogenous (different types) elements.
# - A tuple can contain duplicate elements too.

In [48]:
a=(10,20,30,40,50)
print(a,type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

In [49]:
a=('Python',True, False,None, 10, 5.6, 5+5j)
print(a,type(a))

('Python', True, False, None, 10, 5.6, (5+5j)) <class 'tuple'>

In [50]:
a=(1,1,1,11,1,2,2,2,2,4,4,5,5,1,4,4,5,6)
print(a,type(a))

(1, 1, 1, 11, 1, 2, 2, 2, 2, 4, 4, 5, 5, 1, 4, 4, 5, 6) <class 'tuple'>

# List vs Tuple

In [51]:
# - A list is mutable whereas a tuple is immutable

In [52]:
# Mutability- We can modify the elemements after definition
# Immutability- We can not modify the elements after definition

In [1]:
lst=[10,20,30,40,50]
print(lst,type(lst))

[10, 20, 30, 40, 50] <class 'list'>

In [2]:
print(lst[0])
print(lst[3])
print(lst[2])

lst[3]=1000
print(lst)

10
40
30
[10, 20, 30, 1000, 50]

In [55]:
t=(10,20,30,40,50)
print(t,type(t))

(10, 20, 30, 40, 50) <class 'tuple'>

In [56]:
print(t[0])
print(t[3])

10
40

In [57]:
t[3]=1000
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t)

In [ ]:
lst[0]

In [ ]:
a=10
a

# Dictionary- dict

In [ ]:
# - A dictionary is a collection of key:value pairs kepts inside the {}
# - Every key:value pair is seprated by a comma (,)

In [5]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [6]:
print(d[3])
print(d[4])

300
400

In [7]:
emp={'name':'Pragya','ID':101,'City':'Noida','Company':'Infosys'}
print(emp,type(emp))

{'name': 'Pragya', 'ID': 101, 'City': 'Noida', 'Company': 'Infosys'} <class 'dict'>

In [4]:
print(emp['name'])
print(emp['Company'])
print(emp['ID'])

Pragya
Infosys
101

In [ ]:
# abc- variable

In [1]:
emp={'name':'Pragya','ID':None,'City':'Noida'}

In [2]:
print(emp['ID'])

None

In [2]:
aaa={'a':'aa'}
print(aaa,type(aaa))

{'a': 'aa'} <class 'dict'>

In [ ]:
# keys- int, float, string, tuple 
# values- Anytype

In [1]:
emp={'name':'Pragya','ID':101,'City':'Noida','Company':'Infosys'}
print(emp,type(emp))

{'name': 'Pragya', 'ID': 101, 'City': 'Noida', 'Company': 'Infosys'} <class 'dict'>

In [9]:
emp.keys()

dict_keys(['name', 'ID', 'City', 'Company'])

In [10]:
emp.values()

dict_values(['Pragya', 101, 'Noida', 'Infosys'])

In [11]:
emp

{'name': 'Pragya', 'ID': 101, 'City': 'Noida', 'Company': 'Infosys'}

In [12]:
emp['name']='Yash'

In [13]:
emp

{'name': 'Yash', 'ID': 101, 'City': 'Noida', 'Company': 'Infosys'}

In [14]:
emp['ID']=None

In [15]:
emp

{'name': 'Yash', 'ID': None, 'City': 'Noida', 'Company': 'Infosys'}

In [16]:
emp

{'name': 'Yash', 'ID': None, 'City': 'Noida', 'Company': 'Infosys'}

In [17]:
emp[0]

KeyError: 0

In [ ]:
name='Tarun'

In [ ]:
emp={'name':name}

In [ ]:
emp

In [ ]:
name

In [1]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# (10,20,30,40)

# Set

In [63]:
# - Anything inside the {} is a set.
# - A set is a container type that can contain multiple elements.
# - Each element in a set is seperated by a comma (,)
# - A set can contain heterogenous elements
# - A set does not allow the duplicate elements.
# - A set is not a sequence type. It does not follow the indexing method.
# - When we print a set we get the values in a random order

In [1]:
s={2,3,4,1,,5,6}
print(s,type(s))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [2]:
s={1,2,3,4,5,1,2,3,4,5,2,1,3,2,1,4,5,6}
print(s,type(s))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [5]:
s={True, False, 10, 'Python', 2.5,2.5}
print(s,type(s))

{False, True, 2.5, 10, 'Python'} <class 'set'>

In [64]:
s[0]

TypeError: 'set' object is not subscriptable

# Frozenset

In [66]:
# - When we pass an iterable inside the frozenset() then it is a frozenset.
# - A frozenset is a container type that can contain multiple elements.
# - A frozenset can contain heterogenous elements.
# - A frozenset does not allow duplicate elements.
# - A frozenset is a no sequence type because it does not follow the indexing method.
# - When we print a frozenset then we get the values in random order.

In [67]:
# Iterable- String, List, Tuple, Dictionary, Set, Frozenset

In [68]:
# Syntax- frozenset(iterable)

In [1]:
a=['Pytho','jkgnk','dfnskdlgsndfnndgk','dghdskghdgftf ',(12,23,9), '    hfhfhskgekfekfekgjkhslgslgnlgjsogjslgljgjgjgn']
print(a,type(a))
print(len(a))

['Pytho', 'jkgnk', 'dfnskdlgsndfnndgk', 'dghdskghdgftf ', (12, 23, 9), '    hfhfhskgekfekfekgjkhslgslgnlgjsogjslgljgjgjgn'] <class 'list'>
6

In [3]:
f=frozenset(a)
print(f,type(f))
print(len(f))

frozenset({(12, 23, 9), 'Pythojkgnkdfnskdlgsndfnndgkdghdskghdgftf ', '    hfhfhskgekfekfekgjkhslgslgnlgjsogjslgljgjgjgn'}) <class 'frozenset'>
3

In [2]:
# iterable
# iteration
# iterator

In [1]:
lst=[True, 'Python', 50,50,50, 5+5j]

f=frozenset(lst)
print(f,type(f))

frozenset({'Python', True, 50, (5+5j)}) <class 'frozenset'>

In [74]:
lst=[1,2,3,5,4,7,8,5,4,2,4]

f=frozenset(lst)
print(f,type(f))

frozenset({1, 2, 3, 4, 5, 7, 8}) <class 'frozenset'>

# Set vs Frozenset

In [75]:
# Set is mutable whereas fozenset is immutable

In [79]:
s={10,20,30,40}
print(s,type(s))

s.add(100)
print(s)

s.remove(10)
print(s)

{40, 10, 20, 30} <class 'set'>
{100, 40, 10, 20, 30}
{100, 40, 20, 30}

In [80]:
f=frozenset([10,20,30,40,50])
print(f,type(f))

frozenset({40, 10, 50, 20, 30}) <class 'frozenset'>

In [85]:
# f[0]
# f.add(100)
# f.remove(10)

# Range

In [86]:
# range() returns a range object.
# range() is used to create a sequence of integer values

In [92]:
# Syntax- range(start,stop,step)
# Note- Stop value is excluded
# Note- Step is 1 by default

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# Create a sequence of numbers from 1 to 15 - [1,2,3,4,5,6,......15]

r=range(1,16+1*2/2,3)
print(r,type(r))

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
2/2

1.0

In [13]:
list(r)

[1, 4, 7, 10, 13, 16]

In [7]:
nums=set(range(1,16,3))
print(nums)

{1, 4, 7, 10, 13}

In [4]:
# Create the sequence of even numbers from 2 to 20- [2,4,6,8......20]

list(range(2,21,3))

[2, 5, 8, 11, 14, 17, 20]

In [100]:
# Create the sequence 10 to 1- [10,9,8,7......1] 0

list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [101]:
# Create the sequence- 10,8,6,4,2

list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [103]:
# range(stop value)
# In the  above case we get the sequence from 0 to stop value-1

In [13]:
list(range(2,5))

[2, 3, 4]

In [105]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
# range(stop)
# range(start,stop)
# range(start,stop,step)

# Typecasting

In [109]:
# - Converting the type of a value from one to other is known as typecasting.
# - We are provided with a number of functions that facilitate typecasting

In [108]:
# 2.5 -> 2
# float -> int

# int()

In [110]:
# - It returns an int value.
# - It typecasts to int

In [1]:
a=82557658346576987654.1414
print(a,type(a))
print("**"*50)
b=int(a)
print(b,type(b))

8.255765834657699e+19 <class 'float'>
****************************************************************************************************
82557658346576986112 <class 'int'>

In [3]:
a='505'
print(a,type(a))

b=int(a)
print(b,type(b))

505 <class 'str'>
505 <class 'int'>

In [1]:
a='50'
b='30'
print(a,type(a))
print(a+b)

50 <class 'str'>
5030

In [118]:
x=int(a)
y=int(b)

print(x,type(x))
print(y,type(y))

print(x+y)

50 <class 'int'>
30 <class 'int'>
80

In [121]:
# When we pass a string to int() then that string should have digits only.
# Otherwise we will get value error

In [1]:
a='abc'
print(a,type(a))

b=int(a)
print(b)

abc <class 'str'>

ValueError: invalid literal for int() with base 10: 'abc'

In [125]:
a='5@#$$5'
print(a,type(a))

b=int(a)
print(b)

5@#$$5 <class 'str'>

ValueError: invalid literal for int() with base 10: '5@#$$5'

In [128]:
a=True
print(a,type(a))

b=int(a)
print(b,type(b))

True <class 'bool'>
1 <class 'int'>

In [130]:
a=False
print(a,type(a))

b=int(a)
print(b,type(b))

False <class 'bool'>
0 <class 'int'>

In [5]:
print(True-True)
print(True-False)

0
1

# float()

- It returns a float value.
- It typecasts to float.

In [134]:
a=5
print(a,type(a))

b=float(a)
print(b,type(b))

5 <class 'int'>
5.0 <class 'float'>

In [137]:
a='5'
print(a,type(a))

b=float(a)
print(b,type(b))

5 <class 'str'>
5.0 <class 'float'>

In [140]:
a='5.5'
print(a,type(a))

b=float(a)
print(b,type(b))

5.5 <class 'str'>
5.5 <class 'float'>

In [145]:
int(float('5.5'))

5

In [148]:
a=True
print(a,type(a))

b=float(a)
print(b,type(b))

True <class 'bool'>
1.0 <class 'float'>

In [150]:
a=False
print(a,type(a))

b=float(a)
print(b,type(b))

False <class 'bool'>
0.0 <class 'float'>

In [11]:
print('5.5 '*2)

print(float('5.5')*2)

5.5 5.5
11.0

# complex()

- It returns a complex value.
- It typecasts to complex

In [155]:
a=5
b=6
c=complex(a,b)
print(c,type(c))

(5+6j) <class 'complex'>

In [156]:
a=5
c=complex(a)
print(c,type(c))

(5+0j) <class 'complex'>

In [14]:

b=5
c=complex(b)
print(c,type(c))

(5+0j) <class 'complex'>

In [159]:
c=complex(5.5,2.6)
print(c,type(c))

(5.5+2.6j) <class 'complex'>

# str()

- It returns a string value.
- It typecasts to string.

In [160]:
# str(anything)

In [163]:
a=5
print(a,type(a))

b=str(a)
print(b,type(b))

5 <class 'int'>
5 <class 'str'>

In [1]:
a=5.5
print(a,type(a))

b=str(a)
print(b,type(b))

5.5 <class 'float'>
5.5 <class 'str'>

In [170]:
a=True
print(a,type(a))

b=str(a)
print(b,type(b))

True <class 'bool'>
True <class 'str'>

In [173]:
lst=[10,20,30,50]
print(lst,type(lst))

b=str(lst)
print(b,type(b))
b

[10, 20, 30, 50] <class 'list'>
[10, 20, 30, 50] <class 'str'>

'[10, 20, 30, 50]'

In [17]:
for i in range(4):
    for j in range(4):
        print("*",end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [27]:
import math as mt
print(mt.factorial(524))

131253383315076995722633053167696789111118159806788651217087166998591019285724963083672347390761814448655682063233907041313538785849102342786412208271528435682197647941130457249282280620034801764267047094470605934659664762706378198740567851785548516988602255455978698911045921654375236998304204206338362823044752922205806891836434387502965154278739903539451139978522855041467029812425023145577789499250316625910125902383441769566843637397379801185125352965681144511556073177003755889597312880854921718457142052658162880417861930696060266920970003464500701087950983380777620346317667896694677906995189205867279635794336497179659983558697588538380007308029630899974202212644687534887812685826077837835148274353033389612348852399666853346994272267536000818938998295634003910153139521782244170984318005632194161975146855938018974832515871906822020298046166131788228191114795455885087102345320113481226432901231329141200087349021631338498731002363198099722465820512462221259349336905997048020099472931430207485057159325536506800119078226370089059313907197260163168299741767270400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [175]:
# Arithmetic operator with boolean - 
# binary value, octal, hexadecimal value-

In [177]:
0b10010101

149

In [178]:
0xABC

2748

In [182]:
a=5
b=10
c=15
d=complex(b,c)
print(d,type(d))

(10+15j) <class 'complex'>

In [2]:
print(5<<4)
print(5>>4)

80
0

In [2]:
string='interview'
new_str=string.replace('e','-',2)
print(new_str)

int-rvi-w

In [1]:
print('*'*50)

**************************************************

In [10]:
aaa=input("enter the value=")
aaa

enter the value= 502.5

'502.5'

In [19]:
aaa=int(input("enter the value="))
aaa

enter the value= 2.5

ValueError: invalid literal for int() with base 10: '2.5'

In [18]:
aaa=float(input("enter the value="))
aaa

enter the value= 52

52.0

In [ ]:
254125**54552424*55454548*4515415*41656

In [1]:
a=b+c
a=operation
b=operant
+=opeartor
c=operant

SyntaxError: invalid syntax (1280467739.py, line 4)

In [3]:
print("kannan")

kannan

In [ ]:
# kannan

# hello