# Slicing
- Fetching a sublist from a list is known as slicing.

In [3]:
# lst[start_index:stop_index:step_size]
# Stop_index is excluded
# Step_size is 1 by default

In [2]:
lst=['Python',True, {1:100,2:200},None, 50,(1,2,3),10+20j, False, 5.5]
print(lst,type(lst))

['Python', True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5] <class 'list'>

In [5]:
# Fetch  the first four elements  indexs-[0,1,2,3,4] 5
print(lst[0:5:1])
print(lst[0:5])

['Python', True, {1: 100, 2: 200}, None, 50]
['Python', True, {1: 100, 2: 200}, None, 50]

In [10]:
# Reverse the list [-1,-2,-3,-4,-5,-6,-7,-8,-9] -10
print(lst[-1:-10:-1])
print(lst[-1:-len(lst)-1:-1])

[5.5, False, (10+20j), (1, 2, 3), 50, None, {1: 100, 2: 200}, True, 'Python']
[5.5, False, (10+20j), (1, 2, 3), 50, None, {1: 100, 2: 200}, True, 'Python']

In [9]:
-len(lst)-1

-10

# When step is +ive

- The start is 0 by default
- The stop is len(lst) by default

# When the step is -ive

- Start is -1 by default.
- Stop is -len(lst)-1 by default.

In [6]:
lst

['Python', True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5]

In [7]:
# Firt four elements
print(lst[:4:1])
print(lst[:4])

['Python', True, {1: 100, 2: 200}, None]
['Python', True, {1: 100, 2: 200}, None]

In [8]:
len(lst)

9

In [10]:
print(lst[0:9])
print(lst[0:len(lst):1])
print(lst[1::])

['Python', True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5]
['Python', True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5]
[True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5]

In [27]:
# lst[9]

In [26]:
# Reverse the list

print(lst[-1:-len(lst)-1:-1])
print(lst[::-1])
a=[5.5, False, (10+20j), (1, 2, 3),[10,20,30,40,50], 50, None, {1: 100, 2: 200}, True, 'Python']
print(a)

[5.5, False, (10+20j), (1, 2, 3), 50, None, {1: 100, 2: 200}, True, 'Python']
[5.5, False, (10+20j), (1, 2, 3), 50, None, {1: 100, 2: 200}, True, 'Python']
[5.5, False, (10+20j), (1, 2, 3), [10, 20, 30, 40, 50], 50, None, {1: 100, 2: 200}, True, 'Python']

In [29]:
print(a[4][2:3:])

[30]

In [13]:
lst[1:5]

[True, {1: 100, 2: 200}, None, 50]

In [42]:
# lst[50]

In [43]:
print(lst[0:5:-1])

[]

In [44]:
lst

['Python', True, {1: 100, 2: 200}, None, 50, (1, 2, 3), (10+20j), False, 5.5]

In [50]:
# [5.5,(1,2,3),{1:100,2:200}]
# [(10+20j),50,{1:100,2:200},'Python']

In [53]:
print(lst[::-3])
print(lst[-3::-2])

[5.5, (1, 2, 3), {1: 100, 2: 200}]
[(10+20j), 50, {1: 100, 2: 200}, 'Python']

# How to create a list

# Case_1
- When we already know the elements

In [54]:
lst=[True, 'Python', 10,20, 5.2]
print(lst,type(lst))

[True, 'Python', 10, 20, 5.2] <class 'list'>

# Case_2
- Using list()

In [56]:
# list(iterable)
# list() takes an iterable as an argument and returns a list

In [57]:
# Iterable- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [62]:
my_str='Python'
print(my_str,type(my_str))
print(len(my_str))
print()

lst=list(my_str)
print(lst,type(lst))
print(len(lst))

Python <class 'str'>
6

['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>
6

In [66]:
t=(10,20,30,40,50)
print(t,type(t))

lst=list(t)
print(lst,type(lst))

(10, 20, 30, 40, 50) <class 'tuple'>
[10, 20, 30, 40, 50] <class 'list'>

In [71]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

lst=list(d)
print(lst,type(lst))

lst=list(d.values())
print(lst,type(lst))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
[1, 2, 3, 4] <class 'list'>
[100, 200, 300, 400] <class 'list'>

In [73]:
s={True, 50, 'Python','Hello'}
print(s,type(s))

lst=list(s)
print(lst,type(lst))

{'Python', True, 50, 'Hello'} <class 'set'>
['Python', True, 50, 'Hello'] <class 'list'>

In [76]:
f=frozenset({10,20,30,40,50,60})
print(f,type(f))

lst=list(f)
print(lst,type(lst))

frozenset({50, 20, 40, 10, 60, 30}) <class 'frozenset'>
[50, 20, 40, 10, 60, 30] <class 'list'>

In [82]:
r=range(1,5)
print(r,type(r))

lst=list(r)
print(lst,type(lst))

lst=list(range(5))
print(lst,type(lst))

range(1, 5) <class 'range'>
[1, 2, 3, 4] <class 'list'>
[0, 1, 2, 3, 4] <class 'list'>

# Case_3
- By taking the input from the user

In [1]:
lst=list(input('Enter some values- '))
print(lst,type(lst))

Enter some values-  Vista

['V', 'i', 's', 't', 'a'] <class 'list'>

In [3]:
oo=list(input("enter the value:"))
oo

enter the value: 1,2,3,4

['1', ',', '2', ',', '3', ',', '4']

In [85]:
list('123')

['1', '2', '3']

In [33]:
lst=list(input('Enter some values- '))
print(lst,type(lst))

Enter some values- 10203040
['1', '0', '2', '0', '3', '0', '4', '0'] <class 'list'>

In [87]:
list('Hello Python')

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

## Split

In [88]:
# Output- ['Hello','Python']
# Output- [10,20,30,40]

In [3]:
s=input('Enter the values- ')
lst=s.split()
print(lst)

Enter the values-  I Am Vista

['I', 'Am', 'Vista']

In [91]:
s=input('Enter the values- ')
lst=s.split()
print(lst)

Enter the values- 10 20 30 40 50
['10', '20', '30', '40', '50']

In [92]:
'10 20 30 40 50'.split()

['10', '20', '30', '40', '50']

In [6]:
a='10 20 30 40 50'
a.split()

['10', '20', '30', '40', '50']

# eval()

- It evaluates the type of the value.

In [93]:
# Syntax- eval('value')

In [9]:
gg=eval(input("enter the value ="))
print(gg,type(gg))

enter the value = 2.5

2.5 <class 'float'>

In [14]:
a=eval("'10'")
print(a,type(a))

10 <class 'str'>

##### n=eval('"45"')
print(n,type(n))

In [7]:
a=eval('2.5')
print(a,type(a))

2.5 <class 'float'>

In [99]:
a=eval('"Hello"')
print(a,type(a))

Hello <class 'str'>

In [97]:
"Hello"

'Hello'

In [101]:
abc=10
abc

10

In [103]:
a=eval('[10,20,30,40]')
print(a,type(a))

[10, 20, 30, 40] <class 'list'>

In [3]:
a=eval(input('Pass a value- '))
print(a,type(a))

Pass a value-  {5,4,8,7,7}

{8, 4, 5, 7} <class 'set'>

In [105]:
input()

55

'5'

In [106]:
eval('5')

5

In [109]:
eval('Hello')

NameError: name 'Hello' is not defined

In [3]:
lst=[]
for i in range(5):
    a=eval(input('Enter a value- '))
    lst=lst+[a]
print(lst)

Enter a value- 545
Enter a value- "45"
Enter a value- True
Enter a value- 521
Enter a value- 5
[545, '45', True, 521, 5]

In [3]:
lst=[]
for i in range(5):
    a=eval(input('Enter a value- '))
    lst=lst+[a] # or lst.append(a)
print(lst,type(lst))

Enter a value-  5
Enter a value-  "hello"
Enter a value-  -8
Enter a value-  52.48
Enter a value-  True

[5, 'hello', -8, 52.48, True] <class 'list'>

In [114]:
lst

[40, 50, 'Hello', [1, 2, 3, 4], (10, 20, 30)]

In [116]:
for i in lst:
    print(i,type(i))

40 <class 'int'>
50 <class 'int'>
Hello <class 'str'>
[1, 2, 3, 4] <class 'list'>
(10, 20, 30) <class 'tuple'>

In [117]:
lst=[]
for i in range(5):
    a=input('Enter a value- ')
    lst=lst+[a] # or lst.append(a)
print(lst)

Enter a value- 10
Enter a value- 20
Enter a value- Hello
Enter a value- (1,2,3,4,5)
Enter a value-
['10', '20', 'Hello', '(1,2,3,4,5)', '']

In [119]:
for i in lst:
    print(i,type(i))

10 <class 'str'>
20 <class 'str'>
Hello <class 'str'>
(1,2,3,4,5) <class 'str'>
 <class 'str'>

# Case_4
- By using list comprehension
- List comprehension is the easier way to create a list using loop

In [120]:
# Syntax- [for loop]
# [value for variable in iterable]

In [121]:
# for variable in iterable
for i in 'Python':
    print(i)

P
y
t
h
o
n

In [6]:
lst=[i for i in 'Python']
print(lst)

['P', 'y', 't', 'h', 'o', 'n']

In [10]:
lst=[i for i in 'Python']
print(lst)

['P', 'y', 't', 'h', 'o', 'n']

In [21]:
# Create a list of even numbers from 2 to 20 using list comprehension

lst=[]
a=1
for i in range(2,21,2):
    lst=a*i # lst=lst+[i]
    print(lst)
# print(lst)

2
4
6
8
10
12
14
16
18
20

In [ ]:
[]*i# 2 ,4,6
[]*2
1*2

In [141]:
lst=[]
lst+=[2]
print(lst)

lst+=[4]
print(lst)

lst+=[6]
print(lst)

[2]
[2, 4]
[2, 4, 6]

In [10]:
lst=[i**2 for i in range(2,21,2)]
print(lst)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [151]:
# Create a list of letters from A to Z using list comprehension

In [154]:
print(ord('A'))
print(ord('Z'))

65
90

In [159]:
print(chr(65))
print(chr(66))
print(chr(89))
print(chr(90))

A
B
Y
Z

In [22]:
for i in range(ord('A'),ord('Z')+1):
    print(chr( i ) ,end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [30]:
[chr(i) for i in range(ord('A'),ord('Z')+1)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [23]:
lst=[]

for i in range(65,91):
    lst+=[chr(i)]
print(lst)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [27]:
lst=[]

for i in range(90,65,-1):
    lst-=[chr(i)]
    print(lst)

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

In [29]:
lst = []

for i in range(-90,-64, -1):
    lst.append(chr(i))
    print(lst)

In [6]:
lst = []

for i in range(90, 64, -1):
    lst.append(chr(i))
print(lst)
# Printing the list in reverse order
print(lst[::-1])

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [17]:
lst=[chr(i) for i in range(1,255)]
print(lst)

['\x01', '\x02', '\x03', '\x04', '\x05', '\x06', '\x07', '\x08', '\t', '\n', '\x0b', '\x0c', '\r', '\x0e', '\x0f', '\x10', '\x11', '\x12', '\x13', '\x14', '\x15', '\x16', '\x17', '\x18', '\x19', '\x1a', '\x1b', '\x1c', '\x1d', '\x1e', '\x1f', ' ', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', ';', '<', '=', '>', '?', '@', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '[', '\\', ']', '^', '_', '`', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '{', '|', '}', '~', '\x7f', '\x80', '\x81', '\x82', '\x83', '\x84', '\x85', '\x86', '\x87', '\x88', '\x89', '\x8a', '\x8b', '\x8c', '\x8d', '\x8e', '\x8f', '\x90', '\x91', '\x92', '\x93', '\x94', '\x95', '\x96', '\x97', '\x98', '\x99', '\x9a', '\x9b', '\x9c', '\x9d', '\x9e', '\x9f', '\xa0', '¡', '¢', '£', '¤', '¥', '¦', '§', '¨', '©', 'ª', '«', '¬', '\xad', '®', '¯', '°', '±', '²', '³', '´', 'µ', '¶', '·', '¸', '¹', 'º', '»', '¼', '½', '¾', '¿', 'À', 'Á', 'Â', 'Ã', 'Ä', 'Å', 'Æ', 'Ç', 'È', 'É', 'Ê', 'Ë', 'Ì', 'Í', 'Î', 'Ï', 'Ð', 'Ñ', 'Ò', 'Ó', 'Ô', 'Õ', 'Ö', '×', 'Ø', 'Ù', 'Ú', 'Û', 'Ü', 'Ý', 'Þ', 'ß', 'à', 'á', 'â', 'ã', 'ä', 'å', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'ì', 'í', 'î', 'ï', 'ð', 'ñ', 'ò', 'ó', 'ô', 'õ', 'ö', '÷', 'ø', 'ù', 'ú', 'û', 'ü', 'ý', 'þ']

In [7]:
# Create a list of the squares of the numbers from 1 to 10
lst=[]
for i in range(1,11):
#     print(i**2)
    lst+=[i**2]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
a=[]
for i in range(1,11):
    a=a+[i]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
lst=[i**2 for i in range(1,11)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [177]:
# [value for loop condition (optional)]

In [33]:
# Create a list of the numbers that are divisible by 2 but not divisible by 5 from 1 to 50
lst=[]
for i in range(1,51):
    if i%2==0 and i%5!=0:
#         print(i)
        
        lst+=[i]
print(lst)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]

In [31]:
1%2

1

In [35]:
[i*2 for i in range(1,51) if i%2==0 and i%5!=0]

[4, 8, 12, 16, 24, 28, 32, 36, 44, 48, 52, 56, 64, 68, 72, 76, 84, 88, 92, 96]

In [184]:
# Create a list that has the squares of the even numbers and the cubes of the odd numbers using list comprehension
# Output- [1,4,,27,16,125,36,343,64,729,100]

In [192]:
lst=[]

for i in range(1,11):
    if i%2==0:
        print(i**2)
        lst+=[i**2]
    else:
        print(i**3)
        lst+=[i**3]
print(lst)

1
4
27
16
125
36
343
64
729
100
[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [193]:
# [ternary operator for loop]

In [39]:
i=2

i**2 if i%2==0 else i**3

4

In [196]:
lst=[i**2 if i%2==0 else i**3 for i in range(1,11)]
print(lst)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [4]:
lst=[eval(input('Enter a value- ')) for i in range(5)]
print(lst)

Enter a value- 5
Enter a value- 2
Enter a value- 4
Enter a value- 6
Enter a value- 2
[5, 2, 4, 6, 2]

In [198]:
# exp_1 if condition else exp_2

In [201]:
[i**2 if i%2==0 else i**3 for i in range(1,11)]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [202]:
# Note- if condition after the loop
# if...else.. before the loop

In [36]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# List methods

In [203]:
lst=[10,20,30,40,50]
print(dir(lst))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [204]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

# append()
- It adds the element at the end of the list

In [205]:
# lst.append(value)

In [212]:
lst=[10,20,30]
print(lst)

lst.append(100)
print(lst)

lst.append('Python')
print(lst)

lst.append((1,2,3,4,5))
print(lst)

lst.append(0.25)
print(lst)

lst.append({2,5})
print(lst)

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, 'Python']
[10, 20, 30, 100, 'Python', (1, 2, 3, 4, 5)]
[10, 20, 30, 100, 'Python', (1, 2, 3, 4, 5), 0.25]
[10, 20, 30, 100, 'Python', (1, 2, 3, 4, 5), 0.25, {2, 5}]

In [213]:
lst=[]

for i in range(1,11):
    if i%2==0:
#         print(i**2)
        lst.append(i**2)
    else:
#         print(i**3)
        lst.append(i**3)
print(lst)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

# extend()
- It takes an iterable as an argument.
- It adds the elements of the iterable to the list one by one

In [214]:
# lst.extend(iterable)

In [6]:
lst=[10,20,30]
print(lst)
ss=lst.append('python')
print(ss)
print(lst.extend('Python'))
print(lst)
print(lst.extend('java'))
print(lst)
print(lst.extend('212.5'))
print(lst)
j=875545
print(lst.extend("j"))
print(lst)

[10, 20, 30]
None
None
[10, 20, 30, 'python', 'P', 'y', 't', 'h', 'o', 'n']
None
[10, 20, 30, 'python', 'P', 'y', 't', 'h', 'o', 'n', 'j', 'a', 'v', 'a']
None
[10, 20, 30, 'python', 'P', 'y', 't', 'h', 'o', 'n', 'j', 'a', 'v', 'a', '2', '1', '2', '.', '5']
None
[10, 20, 30, 'python', 'P', 'y', 't', 'h', 'o', 'n', 'j', 'a', 'v', 'a', '2', '1', '2', '.', '5', 'j']

In [217]:
lst=[10,20,30]
print(lst)

lst.append('Python')
print(lst)

[10, 20, 30]
[10, 20, 30, 'Python']

In [218]:
lst=[10,20,30]
print(lst)

lst.append((5,5,5))
print(lst)

[10, 20, 30]
[10, 20, 30, (5, 5, 5)]

In [219]:
lst=[10,20,30]
print(lst)

lst.extend((5,5,5))
print(lst)

[10, 20, 30]
[10, 20, 30, 5, 5, 5]

In [220]:
# lst+=iterable # Internally extend method is applied

In [227]:
lst=[10,20,30]

lst+={1:100,2:200}.values()
print(lst)

[10, 20, 30, 100, 200]

In [231]:
lst=[10,20,30]
lst=lst+['Python']
lst

[10, 20, 30, 'Python']

In [232]:
# lst=lst+[] - Concatenation
# lst+=iterable - extend()

In [237]:
lst=[]
lst=lst+['Hello']
print(lst)

['Hello']

In [238]:
lst=[]
lst+='Hello'
print(lst)

['H', 'e', 'l', 'l', 'o']

In [239]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(b and a)
print(a or b)
print(b or a)
print(not a)
print(not b)

Python
Python
False
True

In [241]:
bool('Python'),bool('')

(True, False)

In [243]:
a and b

''

In [ ]:
'a' and 'b'

In [245]:
bool('a'),bool('b')

(True, True)

In [246]:
True and True

True

In [247]:
'a' and 'b'

'b'

In [249]:
False and True

False

In [251]:
bool(0+0j), bool(5j)

(False, True)

In [252]:
0+0j

0j

In [253]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
#Compare str1 and str2 and print True using equality operator
#Compare str1 and str2 and print False using equality operator
#Compare str1 and str2 and print False using comparison operator

print(str1<=str2)
print(str1>=str2)
print(str1==str2)
print(str1!=str2)

True
True
True
False

In [259]:
str1 = 'python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
#Compare str1 and str2 and print True using equality operator
#Compare str1 and str2 and print False using equality operator
#Compare str1 and str2 and print False using comparison operator

print(str1>=str2)
print(str1<=str2)
print(str1==str2)
print(str1!=str2)

True
False
False
True

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.

In [7]:
ls

 Volume in drive C is OS
 Volume Serial Number is 02EA-B38F

 Directory of C:\Users\kanna\DATA SCIENCE LEARNBAY\ashish sir class\Class_13_List_Methods_march_31

28-08-2024  12:39    <DIR>          .
22-04-2024  18:16    <DIR>          ..
02-08-2023  16:51    <DIR>          .ipynb_checkpoints
28-08-2024  12:39            48,815 Class_13_List_Methods.ipynb
30-12-2023  12:54            15,611 Untitled.ipynb
               2 File(s)         64,426 bytes
               3 Dir(s)  20,952,330,240 bytes free

In [3]:
A=[1, 2, 3, 2, 4, 1, 5, 3]
B=list(set(A))
print(B)

[1, 2, 3, 4, 5]